body {
    font-family: 'Montserrat', sans-serif;
}

.main-color {
    background-color: rgb(186, 20, 186) !important;
}

.banner {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/sembako3.png');
    background-size: cover;
    background-position: center;
}

.hovered-card {
    transition: .3s;
}

.hovered-card:hover {
    transform: scale(1.1);
}

.icon-service {
    width: 90px;
    height: 90px;
    border: solid #fff 2px;
    border-radius: 50%;
    color: #fff;
}

.content-subscribe {
    background-color: rgba(0, 0, 0, 0.7);
}

.banner2 {
    height: 55vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('../image/sembako3.png');
    background-size: cover;
    background-position: center;
}

/* footer */
#footer {
    padding: 0 0 30px 0px;
    font-size: 14px;
    background-color: rgb(123, 21, 113);
    margin-top: 100px;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background-color: rgb(123, 21, 113);
    color: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    color: rgb(251, 133, 15);
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
}

.End {
    background-color: rgb(123, 21, 113);
}