* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-item a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 450;
    margin-right: 15px;
    transition: all 0.4s;
}

.nav-item a:hover {
    color: rgb(183, 55, 170);
}

.navbar-brand {
    text-decoration: none;
    color: rgb(183, 55, 170);
    font-weight: 600;
}

.navbar-brand:hover {
    color: rgb(183, 55, 170);
}

.btn1 {
    height: 45px;
    outline: none;
    border: none;
    background-color: rgb(183, 55, 170);
    color: #fff;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}

.btn1:hover {
    background-color: rgb(123, 21, 113);
}

.bi-bag-heart {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    padding-left: 5px;
    transition: all 0.4s;
}

.bi-bag-heart:hover {
    color: rgb(183, 55, 170);
}

.navbar-toggler {
    font-size: 25px;
    color: #000;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.mbtn1 {
    height: 50px;
    width: 25%;
    outline: none;
    border: none;
    color: white;
    background: rgb(183, 55, 170);
    border-radius: 50px;
    transition: all 0.4s;
}

.mbtn1:hover {
    background: transparent;
    color: rgb(183, 55, 170);
    border-radius: 50px;
}

/* About */
.about {
    background: url(../img/bg3.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.about h1 {
    font-size: 2rem;
    color: rgb(183, 55, 170);
    font-weight: bold;
}

.about p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}

.about p:nth-child(2) {
    font-size: 18px;
}

.gallery {
    background: rgb(183, 55, 170);
}

.gallery h1 {
    font-size: 3rem;
    font-weight: bold;
}

.gallery .card {
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.gallery i {
    font-size: 45px;
    color: rgb(183, 55, 170);
}

.galerry h2 {
    font-weight: lighter;
    padding: 10px 0;
}

/* product */
.product h1 {
    font-size: 2rem;
    color: rgb(183, 55, 170);
    font-weight: bold;
}

.product p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}

.product p:nth-child(2) {
    font-size: 18px;
    color: rgb(237, 75, 75);
}

.star {
    text-align: end;
    color: orange;
}

.product .card {
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.product .card-body {
    border: 1px dashed pink;
}

.head1 {
    font-weight: 400;
    margin: 0;
}

.per1 {
    color: rgb(183, 55, 170);
}

.btnc {
    height: 50px;
    width: 50%;
    outline: none;
    border: none;
    color: #fff;
    background: rgb(123, 21, 113);
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    transition: all 0.4s;
}

.btnc:hover {
    outline: none;
    border: 1px solid rgb(123, 21, 113);
    color: rgb(183, 55, 170);
    background: transparent;
    border-radius: 50px;
}

/* store */
.store {
    background-color: rgb(183, 55, 170);
}

.store h1 {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

.store p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}

.store p:nth-child(2) {
    font-size: 18px;
    color: grey;
}

.store i {
    font-size: 45px;
}

.store .card {
    border-radius: 0;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

.store .card:hover {
    background-color: rgb(183, 55, 170);
    color: #fff;
}

.store .card:hover .per1 {
    color: #fff;

    /* seller */
    .seller h1 {
        font-size: 3rem;
        font-weight: bold;
    }
}

/* contact */
input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container {
    border-radius: 5px;
    padding: 10px;

}

.contact-form {
    box-shadow: #000;
    padding: 40px 30px;
}

.contact-map iframe {
    width: 100%;
    height: 95vh;
    padding-top: 100px;
    border: none;
}

/* footer */
#footer {
    padding: 0 0 30px 0px;
    font-size: 14px;
    background-color: rgb(123, 21, 113);
    margin-top: 100px;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background-color: rgb(123, 21, 113);
    color: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    color: rgb(251, 133, 15);
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
}